body {
    background-color: white;
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-size: large;
}

.jumbotron {
    background-color: white;
}

.hero {
    justify-content: right;
    text-align: end;
    display: block;
    align-content: flex-end;
}

.jumbotron img {
    height: 550px;
    width: 550px;
}

#menu {
    position: sticky;
    top: 200px;
    text-align: start;
    align-content: space-around;
    width: fit-content;
    height: auto;
}

#menu ul {
    align-items: center;
    justify-content: space-between;
    display: block;
}

#menu ul a img {
    height: 35px;
    width: 35px;
    margin-right: 20px;
    margin-top: 10px;
}

#menu ul a {
    display: flex;
    align-content: center;
}

#explore {
    margin-left: 260px;
}

#explore .myCard {
    display: inline-flex;
    margin: 10px;
    background-color: rgba(34, 40, 49, .4);
    mix-blend-mode: normal;
    overflow: hidden;
    height: max-content;
    width: auto;
}

#explore img {
    align-self: center;
    width: 40%;
    height: 40%;
    display: flexbox;
    background-color: #086972;
    background-blend-mode: normal;
}

h3,
p {
    padding: 2px;
    padding-left: 6px;
}