body {
    background-color: white;
    /* #086972 */
    /* font-family: 'Indie Flower', cursive; */
    /* #3e4a61; */
    /* linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100)); */
}

html {
    scroll-behavior: smooth;
}

h2 {
    font-size: large;
}

.jumbotron {
    background-color: white;
}

.hero {
    justify-content: right;
    text-align: end;
    display: block;
    align-content: flex-end;
    /* flex-wrap: wrap; */
    /* position: relative; */
    /* background-attachment: scroll; */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    /* background-image: linear-gradient(rgba(34, 40, 49, .4), rgba(34, 40, 49, .6)), url("../images/ak-n-cakiner-Pw8SHbCn4iM-unsplash-removebg-preview (1).png"); */
    /* background-blend-mode: normal; */
}

.jumbotron img {
    height: 550px;
    width: 550px;
}

#menu {
    position: sticky;
    top: 200px;
    /* left: 20px; */
    text-align: start;
    align-content: space-around;
    width: fit-content;
    height: auto;
    /* margin-bottom: 40px; */
}

#menu ul {
    align-items: center;
    /* text-align: start; */
    justify-content: space-between;
    display: block;
}

#menu ul a img {
    height: 35px;
    width: 35px;
    margin-right: 20px;
    margin-top: 10px;
    /* display: inline; */
}

#menu ul a {
    display: flex;
    align-content: center;
    /* justify-content: center; */
}

#explore {
    margin-left: 260px;
    /* justify-content: left; */
    /* text-align: start; */
    /* display: inline-flex; */
    /* align-content: flex-start; */
}

#explore .myCard {
    display: inline-flex;
    margin: 10px;
    background-color: rgba(34, 40, 49, .4);
    mix-blend-mode: normal;
    overflow: hidden;
    height: max-content;
    width: auto;
}

#explore img {
    align-self: center;
    width: 40%;
    height: 40%;
    /* justify-content: space-between; */
    display: flexbox;
    background-color: #086972;
    background-blend-mode: normal;
    /* filter: drop-shadow(1); */
}

h3,
p {
    padding: 2px;
    padding-left: 6px;
}